[submodule "external/KernelSU"]
	path = external/KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "external/SukiSU-Ultra"]
	path = external/SukiSU-Ultra
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
[submodule "external/BakaSU"]
	path = external/BakaSU
	url = https://github.com/Baka-SU/BakaSU.git
